{% extends "layout.html" %}
{% block body %}

    <!-- Page Header -->
      <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/cancer.png') }}')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h2>Cancer Diasease Predictions</h2>
              {% if prediction_text == 'M'%}
                 <h1><span>Oops! You have Malignant tumor.</span></h1>
                 <a href="payment.html">
                  <button type="button" class="btn btn-primary">Consult A Doctor</button>
                </a>
				      {% elif prediction_text==0 %}
                 <h1><span >Oops! You have Benign tumor.</span></h1>
                 <a href="payment.html">
                  <button type="button" class="btn btn-primary">Consult A Doctor</button>
                </a>
		   		   {% endif %}
		   	 


            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
   
   {% endblock %}