{% extends "layout.html" %}
{% block body %}

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/body.jpg') }}')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Full Health Checkup Online</h1>
              <span class="subheading">On Your own Doctor...!</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-preview">
            <a href="post.html">
              <h2 class="post-title">
                “This application is only made for the help of persons suffering form relevant disease or conscious about their health, so for their information this web app is evolved to check a person having diabetes, heart disease and cancer or not. ”
              </h2>
            </a>
            <p class="post-meta">
              <a href="#">Rohit Chauhan</a>
            </p>
          </div>
          <hr>

   

        </div>
      </div>
    </div>
{% endblock %}
