<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="\static\css\Home.css">
</head>
<body>
	<center>
		<h1 class="display-1 font-weight-bold text-monospace">MediAid</h1>
	</center>
	<div class="jumbotron">
		<p> Are you a ? </p>
		<a href="/index" role="button" class="btn btn-outline-dark btn-lg btn-block">
			<img src="\static\img\patient.png">
		 Patient</a>
		<br>
		<a href="doctor_landing.html" role="button" class="btn btn-outline-dark btn-lg btn-block">
			<img src="\static\img\doctor.png">
		Doctor</a>
	</div>
</body>
</html>